<search class="app-page">
  <header class="header-bar">
	   <a class="btn pull-left icon icon-close" data-navigation="$previous-page"></a>
     <input ng-model="query" id="query" type="text" class="pull-left search-input" placeholder="Busque aqui!">
     <a class="btn pull-right icon icon-check"></a>

      <script type="text/javascript">
        function search($scope){
          $scope.deliveries = [
            {id: "bras", name: "Brasileirinho"},
            {id: "chopin", name: "Chopim Express"},
            {id: "fast", name: "Fast Pizza"},
            {id: "lenha", name: "Forno a Lenha"},
            {id: "japa", name: "Japa Sama"},
            {id: "imperio", name: "Império dos Lanches"},
            {id: "marks", name: "Mark's Lanches"},
            {id: "bella", name: "Pizza Bella"},
            {id: "delicia", name: "Q Delicia"},
            {id: "sushinami", name: "Sushinami"},
            {id: "gemeos", name: "Sushi Gêmeos"},
            {id: "vamp", name: "Vamp Lanches"},
          ];
        });
      </script>
  </header>

  <div class="content">
    <ul class="list" ng-controller="search" ng-repeat="delivery in deliveries | filter:query | orderBy:name">
      <li><a href="#item" class="padded-list" data-panel-id={{delivery.id}}>{{delivery.name}}</a></li>
   </ul>
 </div>

     <div id="bras" class="panel-full">
         <header class="header-bar">
             <a class="btn icon icon-close pull-right" href="#" data-panel-close="true"></a>
             <h1 class="title center"> Brasileirinho</h1>
         </header>

         <div class="content">
             <h3>  Endereço</h3>
             <p class="padded-full"> Rua Dr. Arlindo Sodré 365, Fátima - CEP: 29934-410 São Mateus, ES</p>
             <h3>  Telefone</h3>
             <p class="padded-full"> 3118-1953 / (27)98101-6145 / (27)99725-7610</p>
             <h3>  Horário de atendimento</h3>
             <p class="padded-full"> Seg - Sab : das 10:00h às 14:00h e das 18:00h às 22:00h</p>
         </div>
     </div>

     <div id="chopin" class="panel-full">
         <header class="header-bar">
             <a class="btn icon icon-close pull-right" href="#" data-panel-close="true"></a>
             <h1 class="title center"> Chopim Express</h1>
         </header>

         <div class="content">
             <h3>  Endereço</h3>
             <p class="padded-full"> Rua Alberto Sartorio 185 - CEP: 29930-000 São Mateus, ES</p>
             <h3>  Telefone</h3>
             <p class="padded-full"> (27)9766-3222</p>
             <h3>  Horário de atendimento</h3>
             <p class="padded-full"> Seg - Dom : das 17:30h às 22:30h</p>
         </div>
     </div>

     <div id="fast" class="panel-full">
         <header class="header-bar">
             <a class="btn icon icon-close pull-right" href="#" data-panel-close="true"></a>
             <h1 class="title center"> Fast Pizza</h1>
         </header>

         <div class="content">
             <h3>  Endereço</h3>
             <p class="padded-full"> Av. Raimundo Guilherme Sobrinho 185, Boa Vista - São Mateus, ES</p>
             <h3>  Telefone</h3>
             <p class="padded-full">(27)99648-6176</p>
             <h3>  Horário de atendimento</h3>
             <p class="padded-full"> Ter - Dom : das 17:00h às 22:00h</p>
         </div>
     </div>

     <div id="lenha" class="panel-full">
         <header class="header-bar">
             <a class="btn icon icon-close pull-right" href="#" data-panel-close="true"></a>
             <h1 class="title center"> Forno a Lenha</h1>
         </header>

         <div class="content">
             <h3>  Endereço</h3>
             <p class="padded-full"> Rua Licínio Bastos 372, Boa Vista - São Mateus, ES</p>
             <h3>  Telefone</h3>
             <p class="padded-full"> (27)3767-2357 / (27)3763-6622 / (27)99989-8289 </p>
             <h3>  Horário de atendimento</h3>
             <p class="padded-full"> Seg - Dom : das 18:00h às 0h</p>
         </div>
     </div>

     <div id="japa" class="panel-full">
         <header class="header-bar">
             <a class="btn icon icon-close pull-right" href="#" data-panel-close="true"></a>
             <h1 class="title center"> Japa Sama</h1>
         </header>

         <div class="content">
             <h3>  Endereço</h3>
             <p class="padded-full"> Praça São Benedito 30, Centro - São Mateus, ES</p>
             <h3>  Telefone</h3>
             <p class="padded-full"> (27)3763-1595 / (27)9952-54178 </p>
             <h3>  Horário de atendimento</h3>
             <p class="padded-full"> Ter - Dom : das 18:30h às 0h</p>
         </div>
     </div>

     <div id="imperio" class="panel-full">
         <header class="header-bar">
             <a class="btn icon icon-close pull-right" href="#" data-panel-close="true"></a>
             <h1 class="title center"> Imperio dos Lanches</h1>
         </header>

         <div class="content">
             <h3>  Endereço</h3>
             <p class="padded-full"> Rua General Osório 294, Sernamby - São Mateus, ES</p>
             <h3>  Telefone</h3>
             <p class="padded-full"> (27)3763-1520 </p>
             <h3>  Horário de atendimento</h3>
             <p class="padded-full"> Seg - Dom : das 18:30h às 0h</p>
         </div>
     </div>

     <div id="marks" class="panel-full">
         <header class="header-bar">
             <a class="btn icon icon-close pull-right" href="#" data-panel-close="true"></a>
             <h1 class="title center"> Mark's Lanches</h1>
         </header>

         <div class="content">
             <h3>  Endereço</h3>
             <p class="padded-full"> Rua Willis Towart, 28 - São Mateus, ES</p>
             <h3>  Telefone</h3>
             <p class="padded-full"> (27)3673-1691 / (27)9911-6236</p>
             <h3>  Horário de atendimento</h3>
             <p class="padded-full"> Qui - Ter : das 18:00h às 0h</p>
         </div>
     </div>

     <div id="bella" class="panel-full">
         <header class="header-bar">
             <a class="btn icon icon-close pull-right" href="#" data-panel-close="true"></a>
             <h1 class="title center"> Pizza Bella</h1>
         </header>

         <div class="content">
             <h3>  Endereço</h3>
             <p class="padded-full">  TODO </p>
             <h3>  Telefone</h3>
             <p class="padded-full"> TODO </p>
             <h3>  Horário de atendimento</h3>
             <p class="padded-full"> TODO </p>
         </div>
     </div>

     <div id="delicia" class="panel-full">
         <header class="header-bar">
             <a class="btn icon icon-close pull-right" href="#" data-panel-close="true"></a>
             <h1 class="title center"> Q Delicia</h1>
         </header>

         <div class="content">
             <h3>  Endereço</h3>
             <p class="padded-full"> Praça da Rodoviária - São Mateus, ES</p>
             <h3>  Telefone</h3>
             <p class="padded-full"> (27)99702-0067</p>
             <h3>  Horário de atendimento</h3>
             <p class="padded-full"> Seg - Dom : das 17:00h às 22h</p>
         </div>
     </div>

     <div id="sushinami" class="panel-full">
         <header class="header-bar">
             <a class="btn icon icon-close pull-right" href="#" data-panel-close="true"></a>
             <h1 class="title center"> Sushinami</h1>
         </header>

         <div class="content">
             <h3>  Endereço</h3>
             <p class="padded-full"> Rua Dr. Arlindo Sodré, Centro - São Mateus, ES</p>
             <h3>  Telefone</h3>
             <p class="padded-full"> (27)3763-4039 e (27)99978-0203 (São Mateus) / (27)3761-2187 e 99985-2187 (Guriri)</p>
             <h3>  Horário de atendimento</h3>
             <p class="padded-full"> Seg - Dom : das 18:00h às 0h</p>
         </div>
     </div>

     <div id="gemeos" class="panel-full">
         <header class="header-bar">
             <a class="btn icon icon-close pull-right" href="#" data-panel-close="true"></a>
             <h1 class="title center"> Sushi Gemeos</h1>
         </header>

         <div class="content">
             <h3>  Endereço</h3>
             <p class="padded-full"> Rua Coronel Domingos Rios, Fundo do Museu - São Mateus, ES</p>
             <h3>  Telefone</h3>
             <p class="padded-full"> (27)99726-5672</p>
             <h3>  Horário de atendimento</h3>
             <p class="padded-full"> Seg - Dom : das 17:45h às 23:30h</p>
         </div>
     </div>

     <div id="vamp" class="panel-full">
         <header class="header-bar">
             <a class="btn icon icon-close pull-right" href="#" data-panel-close="true"></a>
             <h1 class="title center"> Vamp Lanches</h1>
         </header>

         <div class="content">
             <h3>  Endereço</h3>
             <p class="padded-full"> Rua Dr. Arlindo Sodré 561, Fátima - São Mateus, ES</p>
             <h3>  Telefone</h3>
             <p class="padded-full"> (27)99631-9082</p>
             <h3>  Horário de atendimento</h3>
             <p class="padded-full"> Qua - Seg : das 15:00h às 01:00h</p>
         </div>
     </div>
</search>
